<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Card system - registrace{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <!-- ================== END BASE CSS STYLE ================== -->
    {% endblock %}
    {{ encore_entry_script_tags('app') }}
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade show">
    <span class="spinner"></span>
</div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
    <div class="login login-v1">
        <!-- begin login-container -->
        <div class="login-container">
            <!-- begin login-header -->
            <div class="login-header">
                <div class="brand">
                    <img src="{{ asset('images/ring.png') }}" style="width: 2em">
                    <b style="margin-left: 1ex;">Card System</b></a>
                </div>
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="login-body">
                <div class="login-content">
                    <h3 class="section-title-default margin-bottom-medium">Registrace</h3>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="form-group">
                    {{ form_row(form.email) }}
                    </div>
                        <div class="form-group">
                    {{ form_row(form.password) }}
                        </div>
                            <div class="form-group">
                    {{ form_widget(form.submit, {
                        'attr': {
                            'class': 'btn-block btn-primary'
                        },
                    }) }}
                            </div>
                    {{ form_end(form) }}
                </div>
                <!-- end login-content -->
            </div>
            <!-- end login-body -->
        </div>
        <!-- end login-container -->
    </div>
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top">
        <i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

{% block javascripts %}
    <!-- ================== BEGIN BASE JS ================== -->
    {{ encore_entry_script_tags('app') }}
    <!-- ================== END BASE JS ================== -->
{% endblock %}


</body>
</html>